/*-------------
       Nav
  -------------*/
.nav-index{
  background-color: #f2f2f2;
  overflow: hidden;
}
.nav-index .nav-header {
	height: 64px;
	overflow: hidden;
  background: #404040;
}
.nav-index .layout-wrapper{
  padding: 0 50px;
  width: 1200px;
  margin: 0 auto;
}
.nav-index .layout-logo {
  text-align: center;
  width: 220px;
  height: 32px;
  line-height: 32px;
  background: #ddd;
  border-radius: 6px;
  margin: 16px 30px;
  float: left;
}
.nav-index .nav-subheader{
  height: 47px;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
}
.nav-index .nav-breakcrumb .ant-breadcrumb{
  margin: 7px 0 7px 24px;
}
/*-------------
     Content
  -------------*/
.contentwrap {
  width: 100%;
  margin: 0 auto;
  background: #fff;
}
.contentwrap h2{
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
.contentwrap .odd{
 background: #eee;
}
.contentwrap .even{
 background: #fff;
}
/*-------------
    Detailtag
  -------------*/
.detailcontent .ant-menu-inline{
  border: none;
}
.detailcontent .detailBaseinfo{
  padding: 0 16px;
}
.detailcontent .detailItem{
  margin: 20px 0;
}
.detailcontent .detailPic{
  height: 200px;
  overflow: hidden;
}
.detailcontent .detailPic img{
  width: 100%;
  height: 100%;
}
.detailcontent .detailItem .itemTitle{
  display: inline-block;
  width: 80px;
  padding-right: 8px;
  text-align: left;
}
.detailcontent .ant-menu .detailItem:first-child{
  margin-top: 0;
}
.detailcontent .detailTT .ant-menu-submenu-title{
  font-weight: bolder;
  font-size: 14px;
}
.detailwrap .imgbox{
  position: fixed;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #000;
  text-align: center;
  z-index: 1111;
}
.detailwrap .imgbox img{
  height: 100%;
}
.contentwrap .toolbar{
  height: 40px;
  line-height: 40px;
}