/*-------------
       Nav
  -------------*/
.nav-index .nav-header {
	height: 64px;
	overflow: hidden;
  background: #404040;
}
.nav-index .layout-wrapper{
  padding: 0 50px;
  width: 1200px;
  margin: 0 auto;
}
.nav-index .layout-logo {
  text-align: center;
  width: 220px;
  height: 32px;
  line-height: 32px;
  background: #ddd;
  border-radius: 6px;
  margin: 16px 30px;
  float: left;
}
.nav-index .nav-subheader{
  height: 50px;
}